* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'TT Hoves';
  font-family: 'ExtraBold';
}

:root {
  --bg-color-redbull: #e95258;
  --bg-color-light: #f9f9f9;
  --bg-color-dak: #32485d;
  --bg-footer-color: #333333;
  --bg-footer-darkney-color: #0e2942;
  --text-title-color: #32495e;
  --default--text-color: #fff;
}
